#encoding=UTF-8

# Any parameters to pass to your service will go in here

# Whitelist file must be populated with appropriate dns
-acl.whitelist.file=etc/whitelist.txt


# Ignore creating StatsReceiver for static routes.
-com.deciphernow.server.config.staticRoutes.ignore=/ping

# Default agent properties

# Max response size in megabytes
#-com.deciphernow.gm.agent.maxResponseSize=5

# time in seconds
#-com.deciphernow.gm.agent.requestTimeout=10

# Max request size in megabytes
#-com.deciphernow.gm.agent.maxRequestSize=5

# Default application.conf location
# Note that application.conf is not required to run the agent,
# but is required to redirect requests.
# Refer to the docs to see how to load routes at runtime https://github.com/DecipherNow/gm-fabric-jvmagent/blob/master/server/src/main/apiblueprint/resources/routes.md
#-com.deciphernow.gm.agent.routeConfig=/etc/application.conf
